.header {
    position      : relative;
    display       : flex;
    max-width     : 120rem;
    width         : 100%;
    margin        : 0 auto;
    flex-direction: column;



    /* required */
    &_wrapper {
        position: absolute;
        width   : 100%;
        height  : 100vh;
        z-index : 1000;
    }

    &_top {
        width      : 100%;
        display    : flex;
        align-items: center;
        height     : var(--header-height);
        padding    : 1rem 0;


        &>div {
            cursor: pointer;
        }
    }

    &_img {
        display: inline-block;

    }

    &_date {
        position   : relative;
        height     : 100%;
        display    : flex;
        align-items: center;
        font-size  : 1.6rem;
        margin-left: 5rem;
        color      : #7b7b7b;

        &::after {
            content   : "";
            position  : absolute;
            height    : 70%;
            width     : 0.1rem;
            background: #7b7b7b;
            left      : -2.5rem;
        }
    }

    &_newest {
        position   : relative;
        margin-left: 5rem;
        font-size  : 1.6rem;
        color      : #7b7b7b;

        &>svg {
            margin-right: 0.5rem;
            font-size   : 1.8rem;
        }
    }

    &_location {
        margin-left: 5rem;
        font-size  : 1.6rem;
        color      : #7b7b7b;
        display    : flex;
        align-items: center;
        height     : 100%;
        position   : relative;

        &>svg {
            font-size   : 1.8rem;
            margin-right: 0.5rem;
        }

        &::after {
            content   : "";
            position  : absolute;
            height    : 70%;
            width     : 0.1px;
            background: #7b7b7b;
            right     : -2.7rem;

        }

        &::before {
            content : "";
            position: absolute;
            height  : 2rem;
            width   : 100%;
            bottom  : -1.4rem;

        }

        &-area {
            position        : absolute;
            top             : 4rem;
            width           : 20rem;
            height          : 8.5rem;
            box-shadow      : 0 1px 4px rgb(0 0 0 / 20%);
            padding         : 0.5rem 1.5rem;
            opacity         : 0;
            display         : none;
            background-color: var(--white-color);


            >ul {
                list-style     : none;
                width          : 100%;
                height         : 100%;
                display        : flex;
                flex-direction : column;
                justify-content: center;

                >li {
                    height     : 50%;
                    display    : flex;
                    align-items: center;
                    font-weight: 600;

                    &:hover {
                        color: #b42652;
                    }
                }
            }

        }

        &:hover .header_location-area {
            display: block;
            opacity: 1;
        }
    }

    &_find {
        margin-left  : 5rem;
        border-radius: 1rem;
        border       : 1px solid #7b7b7b;
        height       : 100%;
        display      : flex;
        align-items  : center;

        & input {
            font-size    : 1.6rem;
            outline      : none;
            border       : none;
            padding      : 1rem;
            border-radius: 1rem;
            max-width    : 16rem;
            max-height   : 100%;
        }

        & svg {
            font-size   : 1.6rem;
            margin-right: 0.5rem;
            color       : #7b7b7b;

        }
    }

    &_account {
        margin-left: 5rem;
        font-size  : 1.6rem;


        & svg {
            font-size   : 1.8rem;
            margin-right: 0.5rem;

        }

        &:hover {
            color: #3fa1e1;
        }
    }

    &_notify {
        margin-left: 5rem;
        font-size  : 1.8rem;
        color      : #7b7b7b;
    }

    &_navbar {

        border-top: 1px solid #7b7b7b;
        padding   : 1rem;
        display   : flex;
        width     : 100%;
    }
}

.login {
    position       : absolute;
    width          : 100%;
    height         : 100vh;
    display        : flex;
    align-items    : center;
    justify-content: center;
    z-index        : 1000;

    &_overlay {
        position: fixed;
        left    : 0;
        right   : 0;
        top     : 0;
        bottom  : 0;

        background-color: rgba($color: #000000, $alpha: .5);
    }

    &_container {
        position        : absolute;
        z-index         : 1;
        background-color: var(--white-color);
        padding         : 2rem;
        width           : 50%;
        height          : 60%;
    }

    &_title {
        display        : flex;
        justify-content: space-between;
        font-size      : 2.6rem;
        color          : var(--primary-color);
        font-weight    : 600;
        height         : 5.5rem;
        align-items    : center;
        border-bottom  : 1px solid #333;

        &>div {
            width     : 50%;
            height    : 100%;
            text-align: center;
            cursor    : pointer;



        }

    }

    &_content {
        display: flex;

        &>div {
            width: 50%;
        }
    }

    &_input {
        padding       : 2rem;
        display       : flex;
        flex-direction: column;

        &>input {
            height       : 4.5rem;
            border-color : #7b7b7b;
            outline      : none;
            padding      : 0 1.5rem;
            border-radius: .5rem;
            margin-bottom: 3rem;
        }

        &>button {
            height          : 4.5rem;
            border-radius   : .5rem;
            background-color: #b2b2b2;
            font-size       : 1.6rem;
            border          : none;
            font-weight     : 600;
            color           : var(--white-color);
            margin-bottom   : 3rem;
            cursor          : pointer;
        }

        & span {
            display   : block;
            font-size : 1.6rem;
            color     : #7b7b7b;
            width     : 100%;
            text-align: center;
            cursor    : pointer;
        }
    }

    &_type {
        padding       : 2rem;
        display       : flex;
        flex-direction: column;
        align-items   : center;

        &>div {
            height: 4.5rem;
            width : 24rem;

            display      : flex;
            align-items  : center;
            padding      : 2rem;
            margin-bottom: 2rem;
            font-size    : 1.6rem;
            font-weight  : 600;
            cursor       : pointer;

            &:nth-child(1) {
                border: 1px solid #3b5999;
                color : #3b5999;
            }

            &:nth-child(2) {
                border: 1px solid #4688f1;
                color : #4688f1;
            }

            &:nth-child(3) {
                border: 1px solid #333;
                color : #333;
            }

            &>span {
                display   : block;
                width     : 80%;
                text-align: center;
            }
        }
    }
}

.register {
    position       : absolute;
    width          : 100%;
    height         : 100vh;
    display        : flex;
    align-items    : center;
    justify-content: center;
    z-index        : 1000;

    &_overlay {
        position: fixed;
        left    : 0;
        right   : 0;
        top     : 0;
        bottom  : 0;

        background-color: rgba($color: #000000, $alpha: .5);
    }

    &_container {
        position        : absolute;
        z-index         : 1;
        background-color: var(--white-color);
        padding         : 2rem;
        width           : 50%;
        height          : 60%;
    }

    &_title {
        display        : flex;
        justify-content: space-between;
        font-size      : 2.6rem;
        color          : var(--primary-color);
        font-weight    : 600;
        height         : 5.5rem;
        align-items    : center;
        border-bottom  : 1px solid #333;

        &>div {
            width     : 50%;
            height    : 100%;
            text-align: center;
            cursor    : pointer;



        }

    }

    &_content {
        display: flex;

        &>div {
            width: 50%;
        }
    }

    &_input {
        padding       : 2rem;
        display       : flex;
        flex-direction: column;

        &>input {
            height       : 4.5rem;
            border-color : #7b7b7b;
            outline      : none;
            padding      : 0 1.5rem;
            border-radius: .5rem;
            margin-bottom: 3rem;
        }

        &>button {
            height          : 4.5rem;
            border-radius   : .5rem;
            background-color: #b2b2b2;
            font-size       : 1.6rem;
            border          : none;
            font-weight     : 600;
            color           : var(--white-color);
            margin-bottom   : 3rem;
            cursor          : pointer;
        }

        & span {
            display   : block;
            font-size : 1.6rem;
            color     : #7b7b7b;
            width     : 100%;
            text-align: center;
            cursor    : pointer;
        }
    }

    &_type {
        padding       : 2rem;
        display       : flex;
        flex-direction: column;
        align-items   : center;

        &>div {
            height: 4.5rem;
            width : 24rem;

            display      : flex;
            align-items  : center;
            padding      : 2rem;
            margin-bottom: 2rem;
            font-size    : 1.6rem;
            font-weight  : 600;
            cursor       : pointer;

            &:nth-child(1) {
                border: 1px solid #3b5999;
                color : #3b5999;
            }

            &:nth-child(2) {
                border: 1px solid #4688f1;
                color : #4688f1;
            }

            &:nth-child(3) {
                border: 1px solid #333;
                color : #333;
            }

            &>span {
                display   : block;
                width     : 80%;
                text-align: center;
            }
        }
    }
}

.nav {
    &_list {
        width          : 100%;
        list-style     : none;
        display        : flex;
        justify-content: space-between;
    }

    &_item {
        font-size  : 1.8rem;
        font-weight: 600;

        &:hover {
            color: var(--primary-color);
        }
    }
}